<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>BitSentiment</title>
</head>

<body>
<h2>
	 Last 10 Bitcoin related stories
	</h2>
<ul class="quotes">
	<% for(var i=0;i<quotes.length;i++){%>
	<li class="quote">
		<a href='<%= quotes[i].url %>'><span><%= quotes[i].url %></a></span>
	</li>
	<% } %>
</ul>

<!-- <form action="/quotes" method="POST">
	<input type="text" placeholder="name" name="name">
	<input type="text" placeholder="quote" name="quote">
	<button type="submit">Submit</button>
</form>-->

</body>

</html>
